<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Callback</servlet-name>
        <servlet-class>net.oauth.example.consumer.webapp.Callback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleContactsConsumer</servlet-name>
        <servlet-class>net.oauth.example.consumer.webapp.GoogleContactsConsumer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MagnoliaConsumer</servlet-name>
        <servlet-class>net.oauth.example.consumer.webapp.MagnoliaConsumer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MediamaticConsumer</servlet-name>
        <servlet-class>net.oauth.example.consumer.webapp.MediamaticConsumer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <servlet-class>net.oauth.example.consumer.webapp.Reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TermieConsumer</servlet-name>
        <servlet-class>net.oauth.example.consumer.webapp.TermieConsumer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterConsumer</servlet-name>
        <servlet-class>net.oauth.example.consumer.webapp.TwitterConsumer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAuthorizationStub</servlet-name>
        <servlet-class>net.oauth.example.consumer.webapp.UserAuthorizationStub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SampleProviderConsumer</servlet-name>
        <servlet-class>net.oauth.example.consumer.webapp.SampleProviderConsumer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YahooConsumer</servlet-name>
        <servlet-class>net.oauth.example.consumer.webapp.YahooConsumer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleContactsConsumer</servlet-name>
        <url-pattern>/Google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MagnoliaConsumer</servlet-name>
        <url-pattern>/Magnolia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediamaticConsumer</servlet-name>
        <url-pattern>/Mediamatic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Callback</servlet-name>
        <url-pattern>/OAuth/Callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAuthorizationStub</servlet-name>
        <url-pattern>/OAuth/UserAuthorizationStub/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/Reset/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TermieConsumer</servlet-name>
        <url-pattern>/Termie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterConsumer</servlet-name>
        <url-pattern>/Twitter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SampleProviderConsumer</servlet-name>
        <url-pattern>/SampleProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YahooConsumer</servlet-name>
        <url-pattern>/Yahoo</url-pattern>
    </servlet-mapping>
</web-app>
